<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
	footer {
	color:white;
	display: flex;
	padding:5px;
	padding-left: 30px;
	margin-top:50px;
	}
	.container{
	padding-left: 20px
	}
</style>

<footer class="py-5 bg-dark">
    <div class="container" style="padding-left:25px">
		<h5>Customer Service</h5>
		<p>Contact Us <br> Help Center <br> Payment Methods <br> Return and Refund </p>
    </div>
    <div class="container" >
		<h5>Payment</h5>
		<p>Cash only</p>
    </div>
    <div class="container" >
		<h5>Follow Us</h5>
		<p>
		<a href="https://www.instagram.com/" style="text-decoration:none; color:white;"><i class='fa fa-instagram' style="padding-right:5px"></i>Instagram</a>
		</p>
		<span class="text-muted">&hearts; Radiance , Woodlands</span>
    </div>
</footer>